
html {
    font-size: 16px;
}

body {
    background-color: #e1f6ff;
}


body, html {
    height: 100%;
    margin: 0;
}


@media only screen and (min-width: 400px) {
    .layout {
      padding: 0 1rem; 
    }
}

main {
    margin-top: calc(35px + 1rem);
    margin-left: auto;
    margin-right: auto;

}

